html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.css', rel='stylesheet', type='text/css')
    style.
      .vis-item{
        background-color:white;
        border:2px solid lightblue;
      }
      #workContent
      {
        display:none;
      }
      #assignmentTableTwo{
        display:none;
      }
      #assignmentTableOne{
        display:none;
      }
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
    .jumbotron
     .container
      h3="Welcome "
       a(href="/designusability")
        button(onclick="showModule('moduleOne');hideWorksheetOne();" class="btn btn-primary" id="DesignModule" style="margin-left:10px;" ) Design
       a(href="/programming")
        button(onclick="showModule('moduleTwo');hideWorksheetThree();" class="btn btn-primary" id="ProgramModule" style="margin-left:10px;") Programming
       a(href="/addvantage")
        button(onclick="showModule('moduleThree');hideWorksheetFour();" class="btn btn-primary active" id="AddVanModule" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h4 Design for usability - 203CR
       #moduleTwo(name="modules" style='display:none')
        h4 Programming for algorithms - 210CT
       #moduleThree(name="modules" style='display:none')
        h4 Addvantage - Project Management
       div#timeLineContainer
        h3 Student Timeline
      script(type='text/javascript').
        function showContent(){
          let getContentOfSheet = document.getElementById("workContent");
          let showTableOne = document.getElementById("assignmentTableOne")
          let showTableTwo = document.getElementById("assignmentTableTwo")
          showTableOne.style.display = 'inline';
          showTableOne.style.float = 'left';
          showTableTwo.style.display = 'inline';
          getContentOfSheet.style.display = 'inline';          
        }

        function contentForWorksheet(description,deadline){
          
          let worksheetDescID = document.getElementById("workSheetDesc");
          let worksheetDeadline = document.getElementById("worksheetDeadline");
          worksheetDescID.innerHTML = description;
          worksheetDeadline.innerHTML = deadline
        }
        let modulesArray = ['Design for usability','Programming','Addvantage']
        let groups = new vis.DataSet();

        
        let AddvantageWorksheetOne = '<h5><a href="#AddvantageWorksheetOne" onclick="showContent();contentForWorksheet(\'To complete this worksheet and obtain a first I will need to see evidence of analysis and evaluation\',\'18-04-2017\')" style="text-decoration:none;">Worksheet One</a></h5>';
        let AddvantageWorksheetTwo = '<h5><a href="#AddvantageWorksheetTwo" style="text-decoration:none;">Worksheet Two</a></h5>';
        let AddvantageWorksheetThree = '<h5><a href="#AddvantageWorksheetThree" style="text-decoration:none;">Worksheet Three</a></h5>';

        let timeLineContainer = document.getElementById('timeLineContainer');
        let Addvantage = new vis.DataSet([
        {id: 1, content: AddvantageWorksheetOne, start: '2017-04-04',end:'2017-04-18'},
        {id: 2, content: AddvantageWorksheetTwo, start: '2017-04-11',end:'2017-04-29'},
        {id: 3, content: AddvantageWorksheetThree, start: '2017-04-18',end:'2017-05-16'},
        ]);
        //Allows timeline items to be edited i.e. added/deleted
        let options = {editable:{
          add:true,
          updateTime:true,
          updateGroup:true,
          remove:true,
          overrideItems:true
        }}
        // Create a Timeline
        let timeline = new vis.Timeline(timeLineContainer, Addvantage, options);
    //- progress.text-center#workSheetProgress(value='40', max='100')
    //- h4#progressBarValue

    .container.text-center
      