doctype
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
  body
    script(src='jsstyle.js')
    nav.navbar.navbar-default
      .container
        .navbar-header
        ul.nav.navbar-nav
          li
            a(href='index.html') Home
          li
            

    .container.text-center
      img(src='covuni.png')
    .jumbotron.center-block
      .container.text-center
        .lead Student Register
      .row
          form(method='POST', action='/registeruser', name='registeruser')
           .form-group
           .col-sm-6
            input#registerEmail.form-control(type='email', name='email', placeholder='Please enter your Coventry University email')
           .col-sm-6
            input#registerPassword.form-control(type='password', name='password', placeholder='Please enter a password')
            input(type='submit' value='Register')
      .container.text-center
        .lead.makeSpace Student Login
      .row
          form(method='POST', action='/loginuser', name='registeruser')
           .form-group
           .col-sm-6
            input#registerEmail.form-control(type='email', name='loginemail', placeholder='Please login with your student email')
           .col-sm-6
            input#registerPassword.form-control(type='password', name='loginpassword', placeholder='Please enter your password')
            input(type='submit' value='Login')
      .container.text-center
        .lead.makeSpace Teacher register    
      .row
          form(method='POST', action='/registerteacher', name='registeruser')
           .form-group
           .col-sm-6
            input#registerEmail.form-control(type='email', name='teacherEmail', placeholder='Please enter your Coventry University teacher email')
           .col-sm-6
            input#registerPassword.form-control(type='password', name='teacherPassword', placeholder='Please enter a password')
            input(type='submit' value='Register teacher account')
      .container.text-center
        .lead.makeSpace Teacher Login    
      .row
          form(method='POST', action='/loginteacher', name='loginteacher')
           .form-group
           .col-sm-6
            input#registerEmail.form-control(type='email', name='loginemailTeacher', placeholder='Please enter your Coventry University teacher email')
           .col-sm-6
            input#registerPassword.form-control(type='password', name='loginpasswordTeacher', placeholder='Please enter your teacher account password')
            input(type='submit' value='Register teacher account')
      
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
