html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.css', rel='stylesheet', type='text/css')
    style.
      .vis-item{
        background-color:white;
        border:2px solid lightblue;
      }
     
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
        li
         a(href="/chat") Group chat
    .jumbotron
     .container
      h3="Welcome " + email
      h3 My Modules
       button(onclick="showModule('moduleOne');hideWorksheetOne();" class="btn btn-primary" id="DesignModule" style="margin-left:10px;" ) Design
       button(onclick="showModule('moduleTwo');hideWorksheetThree();" class="btn btn-primary" id="ProgramModule" style="margin-left:10px;") Programming
       button(onclick="showModule('moduleThree');hideWorksheetFour();" class="btn btn-primary" id="AddVanModule" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h4 Design for usability - 203CR
       #moduleTwo(name="modules" style='display:none')
        h4 Programming for algorithms - 210CT
        
       #moduleThree(name="modules" style='display:none')
        h4 Addvantage - Project Management

      
      .container.text-center

      .row.progressBar 
       progress.text-center#workSheetProgress(value='0', max='100')
       h4#progressBarValue
       div#timeLineContainer
        h3 Student Timeline
    script(type='text/javascript').

      let timeLineContainer = document.getElementById('timeLineContainer');
      let DesignForUsability = new vis.DataSet([
      {id: 1, content: 'Design for usability worksheet one', start: '2017-01-04',end:'2017-01-11'},
      {id: 2, content: 'Worksheet 2', start: '2017-02-14',end:'2017-02-28'},
      {id: 3, content: 'Worksheet 3', start: '2017-03-01'},
      {id: 4, content: 'Worksheet 4', start: '2017-03-09', end: '2014-04-19'},
      {id: 5, content: 'Worksheet 5', start: '2017-03-17'},
      {id: 6, content: 'Worksheet 6', start: '2017-04-05', type: 'point'}
      ]);
      let Programming = new vis.DataSet([
      {id: 1, content: 'Programming worksheet one', start: '2017-01-04'},
      {id: 2, content: 'Worksheet 2', start: '2017-02-11'},
      {id: 3, content: 'Worksheet 3', start: '2017-03-01'},
      {id: 4, content: 'Worksheet 4', start: '2017-03-09', end: '2017-03-19'},
      {id: 5, content: 'Worksheet 5', start: '2017-03-17'},
      {id: 6, content: 'Worksheet 6', start: '2017-04-05', type: 'point'}
      ]);
      let Addvantage = new vis.DataSet([
      {id: 1, content: 'Addvantage worksheet one', start: '2017-01-04'},
      {id: 2, content: 'Worksheet 2', start: '2017-02-11'},
      {id: 3, content: 'Worksheet 3', start: '2017-03-01'},
      ]);
      //Allows timeline items to be edited i.e. added/deleted
      let options = {editable:{
        add:true,
        updateTime:true,
        updateGroup:true,
        remove:true,
        overrideItems:true
      }}

      // Create a Timeline
      let timeline = new vis.Timeline(timeLineContainer, Programming, options);

       
