html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.js')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.19.1/vis-timeline-graph2d.min.css', rel='stylesheet', type='text/css')
    style.
      .vis-item{
        background-color:white;
        border:2px solid lightblue;
      }
      #workContent
      {
        display:none;
      }
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
        li
         a(href="/chat") Group chat
    .jumbotron
     .container
      h3="Welcome " + email
      h3 My Modules
       button(onclick="showModule('moduleOne');hideWorksheetOne();" class="btn btn-primary" id="DesignModule" style="margin-left:10px;" ) Design
       button(onclick="showModule('moduleTwo');hideWorksheetThree();" class="btn btn-primary" id="ProgramModule" style="margin-left:10px;") Programming
       button(onclick="showModule('moduleThree');hideWorksheetFour();" class="btn btn-primary" id="AddVanModule" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h4 Design for usability - 203CR
       #moduleTwo(name="modules" style='display:none')
        h4 Programming for algorithms - 210CT
       #moduleThree(name="modules" style='display:none')
        h4 Addvantage - Project Management
       div#timeLineContainer
        h3 Student Timeline
      script(type='text/javascript').
        function showContent(){
          let getContentOfSheet = document.getElementById("workContent");
          getContentOfSheet.style.display = 'inline';
        }

        function contentForWorksheet(description,deadline){
          
          let worksheetDescID = document.getElementById("workSheetDesc");
          let worksheetDeadline = document.getElementById("worksheetDeadline");
          worksheetDescID.innerHTML = description;
          worksheetDeadline.innerHTML = deadline
        }
        let designWorkSheetOne = '<a href="#" onclick="showContent();contentForWorksheet(\'hello\',\'goodbye\')" style="text-decoration:none;">Worksheet One</a>';
        let designWorkSheetTwo = '<a href="#designWorkSheetTwo" style="text-decoration:none;">Worksheet Two</a>';
        let designWorkSheetThree = '<a href="#designWorkSheetThree" style="text-decoration:none;">Worksheet Three</a>';
        let programmingWorksheetOne = '<a href="#programmingWorksheetOne" style="text-decoration:none;">Worksheet One</a>';
        let programmingWorksheetTwo = '<a href="#programmingWorksheetTwo" style="text-decoration:none;">Worksheet Two</a>';
        let programmingWorksheetThree = '<a href="#programmingWorksheetThree" style="text-decoration:none;">Worksheet Three</a>';
        let AddvantageWorksheetOne = '<a href="#AddvantageWorksheetOne" style="text-decoration:none;">Worksheet One</a>';
        let AddvantageWorksheetTwo = '<a href="#AddvantageWorksheetTwo" style="text-decoration:none;">Worksheet Two</a>';
        let AddvantageWorksheetThree = '<a href="#AddvantageWorksheetThree" style="text-decoration:none;">Worksheet Three</a>';

        let timeLineContainer = document.getElementById('timeLineContainer');
        let DesignForUsability = new vis.DataSet([
        {id: 1, content: designWorkSheetOne, start: '2017-01-04',end:'2017-01-11'},
        {id: 2, content: designWorkSheetTwo, start: '2017-02-14',end:'2017-02-28'},
        {id: 3, content: designWorkSheetThree, start: '2017-03-01',end:'2017-03-28'},
        
        ]);
        let Programming = new vis.DataSet([
        {id: 1, content:programmingWorksheetOne , start: '2017-01-04',end:'2017-01-11'},
        {id: 2, content: programmingWorksheetTwo, start: '2017-02-11',end:'2017-02-21'},
        {id: 3, content: programmingWorksheetThree, start: '2017-03-01',end:'2017-03-11'},
        ]);
        let Addvantage = new vis.DataSet([
        {id: 1, content: AddvantageWorksheetOne, start: '2017-01-04'},
        {id: 2, content: AddvantageWorksheetTwo, start: '2017-02-11'},
        {id: 3, content: AddvantageWorksheetThree, start: '2017-03-01'},
        ]);
        //Allows timeline items to be edited i.e. added/deleted
        let options = {editable:{
          add:true,
          updateTime:true,
          updateGroup:true,
          remove:true,
          overrideItems:true
        }}

        // Create a Timeline
        let timeline = new vis.Timeline(timeLineContainer, DesignForUsability, options);
    //- progress.text-center#workSheetProgress(value='40', max='100')
    //- h4#progressBarValue

    .container.text-center
      .row.progressBar 
    div#workContent.container
     div.row
      div.col.col-sm-5
       h3 Worksheet description
       h5#workSheetDesc
      div.col.col-sm-5
       h3 Deadline
       h5#worksheetDeadline
      div.col.col-sm-2
       label Assignment complete
        input(type="checkbox" id="assignmentComplete") 
