html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
        li
         a(href="/chat") Group chat
    .jumbotron
     .container
      h3="Welcome " + email
      h3 My Modules
       button(onclick="showModule('moduleOne');hideWorksheetOne();" class="btn btn-primary" id="DesignModule" style="margin-left:10px;" ) Design
       button(onclick="showModule('moduleTwo');hideWorksheetThree();" class="btn btn-primary" id="ProgramModule" style="margin-left:10px;") Programming
       button(onclick="showModule('moduleThree');hideWorksheetFour();" class="btn btn-primary" id="AddVanModule" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h4 Design for usability - 203CR
       #moduleTwo(name="modules" style='display:none')
        h4 Programming for algorithms - 210CT
        
       #moduleThree(name="modules" style='display:none')
        h4 Addvantage - Project Management
      
      p#workWeek Week 5
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable='true' id="worksheetOne") Worksheet 1
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable="true" id="worksheetTwo") Worksheet 2
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable="true" id="worksheetThree") Worksheet 3
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable="true" id="worksheetFour") Worksheet 4
      
      .container.text-center
      .row
       .col-sm-4
        button(class="btn btn-default btn-lg" onclick="changeWeekPrevious();" id="btnPreviousWeek")
         span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
        div(id="leftUserBox" ondrop="dropDiv(event);increaseProgress(33);" style="height:100px;width:250px;float:left;" ondragover="preventDefaultBrowserAct(event)")
       .col-sm-4
        div(id="middleUserBox" ondrop="dropDiv(event);increaseProgress(66);" style="height:100px;width:250px;" ondragover="preventDefaultBrowserAct(event)")
       .col-sm-4
        div(id="rightUserBox" ondrop="dropDiv(event);increaseProgress(100);" style="height:100px;width:250px;float:left;" ondragover="preventDefaultBrowserAct(event)")
        button(class="btn btn-default btn-lg" onclick="changeWeekNext();" id="btnNextWeek")
         span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
      .row.progressBar 
       progress.text-center#workSheetProgress(value='0', max='100')
       h4#progressBarValue
      //-  .col-sm-4
      //-   div(id="rightUserBox" ondrop="dropDiv(event)" style="height:100px;width:250px;" ondragover="preventDefaultBrowserAct(event)")

       
