html
  head
    title Your Profile
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet' href="style.css")
    script(src="jsstyle.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
  body
    nav.navbar.navbar-default
     .container
      .navbar-header
       ul.nav.navbar-nav
        li 
         a(href="/") Home
         a(href="/chat")
    .jumbotron
     .container
      h3="Welcome " + email
      h3 My Modules
       button(onclick="showModule('moduleOne')" class="btn btn-primary" style="margin-left:10px;" ) Design
       button(onclick="showModule('moduleTwo')" class="btn btn-primary" style="margin-left:10px;") Programming
       button(onclick="showModule('moduleThree')" class="btn btn-primary" style="margin-left:10px;") Addvantage
       #moduleOne(name="modules")
        h2 Design for usability
        p Taught by John Halloran
       #moduleTwo(name="modules" style='display:none')
        h2 Programming 
        p Taught by James Shuttleworth
       #moduleThree(name="modules" style='display:none')
        h2 Addvantage 
        p Taught by whoever
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable='true' id="worksheetOne") Worksheet 1
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable="true" id="worksheetTwo") Worksheet 2
      div(ondragstart="dragDiv(event)" style="float:left;" class="worksheetStyle" draggable="true" id="worksheetThree") Worksheet 3
      
      .container.text-center
      .row-fluid
       .col-sm-4
        div(id="leftUserBox" ondrop="dropDiv(event);increaseProgress(33);" style="height:100px;width:250px;float:left;" ondragover="preventDefaultBrowserAct(event)")
       .col-sm-4
        div(id="middleUserBox" ondrop="dropDiv(event);increaseProgress(66);" style="height:100px;width:250px;" ondragover="preventDefaultBrowserAct(event)")
       .col-sm-4
        div(id="rightUserBox" ondrop="dropDiv(event);increaseProgress(100);" style="height:100px;width:250px;float:left;" ondragover="preventDefaultBrowserAct(event)")
      .row.progressBar 
       progress.text-center#workSheetProgress(value='0', max='100')
      //-  .col-sm-4
      //-   div(id="rightUserBox" ondrop="dropDiv(event)" style="height:100px;width:250px;" ondragover="preventDefaultBrowserAct(event)")

       
